.filterContainer {
  padding-top: 5%;
}
.formContainer {
  padding-top: 10%;
  padding-left: 2%;
  padding-rigth: 2%;
}
.imageFilter {
  text-align: center;
  padding-top: 5%;
}
body {
  background-color: #fffff4;
  overflow-x: hidden;
}
.homeButtonContainer {
  text-align: center;
}
.homeButton {
  font-size: 3em;
}
.bigger-font {
  font-size: 100px;
  padding-top: 10px;
}
.imageContainer {
  vertical-align: middle;
  text-align: center;
  padding-top: 10%;
}
.logoImage {
  cursor: pointer;
  border: 1px solid #000;
  box-shadow: 20px 0px 11px #040202;
  -webkit-box-shadow: 20px 0px 11px #040202;
  -moz-box-shadow: 20px 0px 11px #040202;
}
.logoImage display block {
  margin-left: auto;
  margin-right: auto;
}
.logoImage:hover {
  opacity: 0.4;
}
.invalidUser {
  padding-top: 5%;
}
.invalidUserMsg {
  padding-top: 10%;
}
.imageLogin {
  background-color: #000;
  border: none;
}
h1.loginTittle {
  text-align: center;
  color: #6d6d72;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.loginFormContainer {
  height: 100%;
  vertical-align: middle;
  padding-top: 14%;
  padding-right: 5%;
}
.loginLabel {
  color: #6d6d72;
  font-size: large;
}
.loginHelp {
  cursor: pointer;
  color: #f2901b;
}
.loginButton {
  background-color: #8cc63d;
  border-color: #8cc63d;
  color: #fff;
}
.loginContainer {
  background-color: #fdfdfd;
}
