﻿<div class="Container" style="padding-top: 70px;">

    <div>
        <legend>Perfiles
            <button id="Button1" name="clean" ng-click="Clean()" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Nuevo</button>
            <button type="button" class="btn btn-primary" ng-click="loadEditForm()"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Editar</button>
        </legend>

        <form class="form-horizontal" ng-show="view.editInfo">
            <fieldset>
                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="active">Perfil</label>
                    <div class="col-md-5">

                        <input class="form-control" name="profile" list="profileList" ng-model="profile" id="profileInput" placeholder="Perfil" required />
                        <datalist id="profileList">
                            <option ng-repeat="perfiles in perfiles" value="{{perfiles.perfil}}">
                        </datalist>

                        <div>
                            <button type="button" class="btn btn-primary" ng-click="Update(profile)" ng-disabled="profile==undefined"><span class="glyphicon glyphicon-arrow-right"></span>&nbsp;Cargar</button>
                        </div>
                    </div>
                </div>
            </fieldset>

            <legend></legend>
        </form>        

    </div>

    <div>

        <div ng-show="view.form">
            <form class="form-horizontal" name="perfilesForm">
                <fieldset>


                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="perfil">Perfil</label>
                        <div class="col-md-5">
                            <input id="perfil" ng-model="formProfile.perfil" name="perfil" type="text" placeholder="perfil" class="form-control input-md" required="">
                        </div>
                    </div>


                    <!--{{usuario}}-->
                    <!-- Button (Double) -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="crear"></label>
                        <div class="col-md-8">
                            <a id="guardar" ng-click="Save()" name="guardar" class="btn btn-success" ng-disabled="perfilesForm.$invalid">Guardar</a>

                            <button class="btn btn-info" ng-click="ManageRoles(profile)" ng-disabled="profile==undefined" data-toggle="modal" ng-disabled="infoTec" data-target="#RolesModal">Administrar Accesos</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>

        <div class="col-xs-12 buttonContainer">
            <div class="col-sm-offset-3 col-sm-6">
                <button-back label="Menú Principal" code="{{operatorCode}}" color="#fff" fontsize="1.5em"></button-back>
            </div>
        </div>

        <!-- Modal Administrar Accesos -->
        <div class="modal fade bs-example-modal-sm" id="RolesModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="H1">Administrar Accesos</h4>
                    </div>
                    <div class="modal-body">

                        <div class="alert alert-info" role="alert">Seleccione para Habilitar o deshabilitar el acceso a este módulo</div>


                        <div ng-repeat="rol in roles ">
                            <label for="{{rol.rol}}" class="vehiclesListContainer">
                                <div class="vehiclesList" ng-click="AddOrDeleteRol(rol)">
                                    <input type="checkbox" id="{{rol.rol}}" ng-model="rol.activo" /><span> {{rol.rol}}</span>
                                </div>
                            </label>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 homeButtonContainer">
        <a href="#/home/{{operatorCode}}" class="btn btn-default homeButton"><span class="glyphicon glyphicon-home"></span></a>
    </div>
</div>
