﻿<div class="loginContainer">
    <div class="row">
        <div class="col-xs-6 col-md-6 ">
            <a class="thumbnail imageLogin">
                <img src="Client/app/images/logo_Negro.jpg" alt="..." style="width: 80%; height: 100%">
            </a>
        </div>
        <div class="col-xs-6 col-md-6 loginFormContainer">
            <h1 class="loginTittle">Iniciar Sesi&oacute;n</h1>

            <div ng-show="help" class="alert alert-warning alert-dismissible" role="alert">
                <strong>Advertencia!</strong> Su usuario es su n&uacute;mero de Documento
                <strong>(Sin espacios ni caract&eacute;res especiales)</strong> 
            </div>

            <form name="loginForm">
                <div class="form-group">
                    <label class="loginLabel" for="loginLabel">Usuario</label>
                    <span class="glyphicon glyphicon-question-sign loginHelp" aria-hidden="true" ng-click="help = !help"></span>
                    <input type="number" class="form-control" ng-model="code" id="loginLabel" placeholder="Usuario" required>
                </div>

                <a type="submit" ng-disabled="loginForm.$invalid" href="#/home/{{code}}" class="btn loginButton">Acceder</a>
            </form>
        </div>
    </div>
</div>
