﻿.bigger-font
  font-size 100px
  padding-top 10px

.imageContainer
	vertical-align middle
	text-align center
	padding-top 10%

.logoImage
	cursor pointer
	border 1px solid #000000
	display block
    margin-left auto
    margin-right auto	
	box-shadow 20px 0px 11px rgba(4,2,2,1.26)
	-webkit-box-shadow 20px 0px 11px rgba(4,2,2,1.26)
	-moz-box-shadow 20px 0px 11px rgba(4,2,2,1.26)
	&:
    hover
      opacity 0.4

.invalidUser
	padding-top 5%

.invalidUserMsg
	padding-top 10%
	

