﻿.imageLogin
	background-color: black;
	border: none;

h1.loginTittle
	text-align: center
	color: #6D6D72
	font-family: "Comic Sans MS", cursive, sans-serif

.loginFormContainer
	height: 100%
	vertical-align: middle
	padding-top: 14%
	padding-right: 5%

.loginLabel
	color: #6D6D72
	font-size: large

.loginHelp
	cursor: pointer
	color: #F2901B

.loginButton
	background-color: #8CC63D
	border-color: #8CC63D
	color: #fff

.loginContainer
	background-color: #FDFDFD

