<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container" >
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Configuraci&oacute;n</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav " ng-show="showSettings">
                <li class="active" ng-repeat="sett in settings">
                    <a href="#/{{sett.href}}/{{operatorCode}}">{{sett.rol}}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="active" >
                    <a href="#/">Cerrar Sesi&oacute;n</a>
                </li>
            </ul>
        </div>
    </div>
    
</nav>

<div class="row" ng-show="showImages">
    <div class="col-md-{{colsize}} imageContainer" ng-repeat="menu in menus">
        <a href="#/{{menu.href}}/{{operatorCode}}">
            <img ng-src="Client/app/images/{{menu.icono}}" alt="..." class="img-circle logoImage" width="300px" height="300px">
        </a>
    </div>
</div>

<div class="container invalidUser" ng-show="invalidUserMsg">
    <div class="col-md-4">
        <a>
            <img ng-src="Client/app/images/lock.jpg" alt="..." class="img-circle" width="300px" height="300px">
        </a>
    </div>

    <div class="col-md-8 invalidUserMsg">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Error!</strong> Usted No posee privilegios para acceder a la plataforma.
        </div>
    </div>
    <div class="col-md-2">
        <a href="#/" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Volver</a>
    </div>
</div>
