﻿<div ng-show="filterContainer">

    <div class="container">
        <!--Div de la Imagen-->
        <div class="col-md-12 imageFilter">
            <a>
                <img ng-src="Client/app/images/Candela.png" alt="..." class="img-circle" width="180px" height="180px">
            </a>
        </div>

        <!--Div del Input y el Botón-->
        <div class="col-md-12 filterContainer">
            <form class="form-horizontal">
                <fieldset>

                    <!-- Text input-->
                    <div class="form-group">

                        <label class="col-md-4 control-label" for="clientID">C&eacute;dula</label>
                        <div class="col-md-4">
                            <input id="clientID" name="clientID" type="number" ng-model="cedula" placeholder="C&eacute;dula" class="form-control input-md" required="">
                            <button type="button" class="btn btn-primary btn-block" ng-click="Validate(cedula)" ng-disabled="cedula==undefined">
                                <span class="glyphicon glyphicon-arrow-right"></span>
                                &nbsp;Validar
                            </button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>

        <!--Div del Botón de Home-->
        <div class="col-md-12 homeButtonContainer">
            <a href="#/home/{{operatorCode}}" class="btn btn-default homeButton"><span class="glyphicon glyphicon-home"></span></a>
        </div>

    </div>  

</div>

<div ng-show="formContainer">

    <div class="formContainer">

        <form class="form-horizontal" name="candelaClientForm">
            <fieldset>

                <!-- Form Name -->
                <legend></legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="cedula">Cedula</label>
                    <div class="col-md-6">
                        <input id="cedula" name="cedula" ng-model="cliente.cedula" type="text" placeholder="Cedula" class="form-control input-md" required="">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Nombre</label>
                    <div class="col-md-6">
                        <input id="name" name="name" ng-model="cliente.nombre" type="text" placeholder="Nombre" class="form-control input-md" required="">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="phone">Teléfono</label>
                    <div class="col-md-6">
                        <input id="phone" name="phone" ng-model="cliente.telefono" type="text" placeholder="Teléfono" class="form-control input-md" required="">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="mail">Correo</label>
                    <div class="col-md-6">
                        <input id="mail" name="mail" ng-model="cliente.correo" type="email" placeholder="Correo" class="form-control input-md">
                    </div>
                </div>

                <!-- Checkbox -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="funciona"></label>
                    <div class="col-md-6">
                        <input id="funciona" type="checkbox" ng-model="cliente.pasaporte" value="true">
                        &nbsp; Tiene Pasaporte
                    </div>
                </div>

                <!-- Button (Double) -->
                <div class="form-group">
                    <label class="col-md-8 control-label" for="save"></label>
                    <div class="col-md-4">
                        <button id="save" name="save" class="btn btn-success" ng-disabled="candelaClientForm.$invalid" ng-click="Save()">Guardar</button>
                        <button id="Button4" name="clean" class="btn btn-info" ng-click="Clean()">Limpiar</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>

</div>

