﻿<div class="container">
    <div class="imageFilter">
        <img src="Client/app/images/Downloading.gif" alt="..." class="img-circle" width="300px" height="300px"/>
    </div>
    <div class="col-md-12 homeButtonContainer">
        <a href="#/home/{{operatorCode}}" class="btn btn-default homeButton"><span class="glyphicon glyphicon-home"></span></a>
    </div>
</div>