﻿<div ng-show="filterContainer">

    <div class="container">
        <!--Div de la Imagen-->
        <div class="col-md-12 imageFilter">
            <a>
                <img ng-src="Client/app/images/Vibra.psd" alt="..." class="img-circle" width="180px" height="180px">
            </a>
        </div>

        <!--Div del Input y el Botón-->
        <div class="col-md-12 filterContainer">
            <form class="form-horizontal">
                <fieldset>

                    <!-- Text input-->
                    <div class="form-group">

                        <label class="col-md-4 control-label" for="clientID">C&eacute;dula</label>
                        <div class="col-md-4">
                            <input id="clientID" name="clientID" type="number" ng-model="cedula" placeholder="C&eacute;dula" class="form-control input-md" required="">
                            <button type="button" class="btn btn-primary btn-block" ng-click="Validate(cedula)" ng-disabled="cedula==undefined">
                                <span class="glyphicon glyphicon-arrow-right"></span>
                                &nbsp;Validar
                            </button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>

        <!--Div del Botón de Home-->
        <div class="col-md-12 homeButtonContainer">
            <a href="#/home/{{operatorCode}}" class="btn btn-default homeButton"><span class="glyphicon glyphicon-home"></span></a>
        </div>

    </div>  

</div>

<div ng-show="formContainer">

    <div class="formContainer">

        <form class="form-horizontal" name="vibraClientForm">
            <fieldset>

                <div class="col-md-6">

                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong> Datos Madre</strong></h3>
                        </div>
                        <div class="panel-body">
                            <!-- Form Name -->
                            <legend></legend>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="cedula">Cedula</label>
                                <div class="col-md-6">
                                    <input id="cedula" name="cedula" ng-model="cliente.cedula" type="text" placeholder="Cedula" class="form-control input-md" required="">
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="name">Nombre</label>
                                <div class="col-md-6">
                                    <input id="name" name="name" ng-model="cliente.nombreMadre" type="text" placeholder="Nombre" class="form-control input-md" required="">
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="phone">Teléfono</label>
                                <div class="col-md-6">
                                    <input id="phone" name="phone" ng-model="cliente.telefono" type="text" placeholder="Teléfono" class="form-control input-md" required="">
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="mail">Correo</label>
                                <div class="col-md-6">
                                    <input id="mail" name="mail" ng-model="cliente.correo" type="email" placeholder="Correo" class="form-control input-md">
                                </div>
                            </div>

                            <!-- Checkbox -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="funciona"></label>
                                <div class="col-md-6">
                                    <input id="funciona" type="checkbox" ng-model="cliente.pasaporteMadre" value="true">
                                    &nbsp; Tiene Pasaporte
                                </div>
                            </div>
                            
                        </div>
                    </div>


                </div>

                <div class="col-md-6">

                    <div class="panel panel-info">
                        <div class="panel-heading">                            
                            <h3 class="panel-title"> <input id="Checkbox2" type="checkbox" ng-model="AllowSon" value="false"> &nbsp;<strong>Datos Hijo </strong></h3>
                        </div>
                        <div class="panel-body">
                            <!-- Form Name -->
                            <legend></legend>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="cedula">Documento Hijo</label>
                                <div class="col-md-6">
                                    <input id="Text1" name="cedula" ng-model="cliente.documentoHijo" type="text" placeholder="Cedula" class="form-control input-md" ng-disabled="AllowSon == false">
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="name">Nombre Hijo</label>
                                <div class="col-md-6">
                                    <input id="Text2" name="name" ng-model="cliente.nombreHijo" type="text" placeholder="Nombre Hijo" class="form-control input-md" ng-disabled="AllowSon == false">
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="phone">Edad</label>
                                <div class="col-md-6">
                                    <input id="Text3" name="phone" ng-model="cliente.edad" type="number" placeholder="Edad" class="form-control input-md" ng-disabled="AllowSon == false">
                                </div>
                            </div>

                            <!-- Checkbox -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="funciona"></label>
                                <div class="col-md-6">
                                    <input id="Checkbox1" type="checkbox" ng-model="cliente.pasaporteHijo" value="true" ng-disabled="AllowSon == false">
                                    &nbsp; Tiene Pasaporte
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Button (Double) -->
                <div class="col-md-12">
                    <label class="col-md-4 control-label" for="save"></label>
                    <div class="col-md-8">
                        <button id="Button3" name="save" class="btn btn-success" ng-disabled="vibraClientForm.$invalid" ng-click="Save()">Guardar</button>
                        <button id="Button4" name="clean" class="btn btn-info" ng-click="Clean()">Limpiar</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>

</div>

